@section head{
      @Scripts.Render("~/bundles/OrgDiagram")
@Styles.Render("~/bundles/css/org/")
}

@section scripts{
<script type="text/javascript">

    jQuery(document).ready(function () {
        jQuery.ajaxSetup({
            cache: false
        });

        $.getJSON("/Franchisee/SettleOrgSource", "", function (data) {
            LoadOrgItem(data);
        });
    });
	</script>
}

@section content{
  <div id="centerpanel" class="basicdiagram" style="width:100%; height:400px; overflow: auto; padding: 0px; margin: 0px; border: 0px; border-style:dotted; border-width:1px;"> 
		</div>
}
