@section head{
      @Scripts.Render("~/bundles/OrgDiagram")
@Styles.Render("~/bundles/css/org/")
}

@section scripts{

}

@section content{
  <div id="centerpanel" class="basicdiagram" style="position:absolute; overflow:hidden; border-style:dotted; border-width:1px;"> 
		</div>
}
