<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TLCDBEntities" connectionString="metadata=res://*/Models.Entity.TLCEntity.csdl|res://*/Models.Entity.TLCEntity.ssdl|res://*/Models.Entity.TLCEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008R2;initial catalog=TLCDB;persist security info=True;user id=TLC;password=tlc1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>